@{
    ViewData["Title"] = "Tree View";
}

@* <h1>Tree View</h1> *@

@* <div id="jstree-container">
    <div id="jstree"></div>
</div> *@




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
<div class="row">
    <!-- Coluna esquerda ocupando 1/3 da largura da tela -->
    <div class="col-12 col-md-3" id="coluna-l">
        <div id="jstree-container">
            <div id="jstree"></div>
        </div>
    </div>

    <!-- Coluna direita ocupando 2/3 da largura da tela -->
    <div class="col-12 col-md-9" id="coluna-r">
        <div id="tabs">
            <ul>
                <li><a href="#tab-1">Tab 1</a></li>
            </ul>
            <div id="tab-1">
                <p>Conteúdo da Tab 1</p>
            </div>
        </div>
        <button id="add-tab">Adicionar Nova Tab</button>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#jstree').jstree({
            "core": {
                "animation": 0,
                "check_callback": true,
                "themes": { "stripes": true },
                'data': {
                    'url': function (node) {
                        return node.id === '#' ? '/Menu/GetRootNodes' : '/Menu/GetChildNodes?id=' + node.id;
                    }
                }
            },
            "types": {
                "#": {
                    "max_children": 1,
                    "max_depth": 4,
                    "valid_children": ["root"]
                },
                "root": {
                    "icon": "/static/3.3.16/assets/images/tree_icon.png",
                    "valid_children": ["default"]
                },
                "default": {
                    "valid_children": ["default", "file"]
                },
                "file": {
                    "icon": "glyphicon glyphicon-file",
                    "valid_children": []
                }
            },
            "plugins": [
                "contextmenu", "dnd", "search",
                "state", "types", "wholerow"
            ],
            "contextmenu": {
                "items": function ($node) {
                    var tree = $("#jstree").jstree(true);
                    return {
                        "Create": {
                            "label": "Criar",
                            "action": function () {
                                var parentId = $node.id;
                                var nodeName = "Novo Nó";  // Nome temporário para o novo nó

                                var newNode = { Name: nodeName, ParentId: parentId };
                                $.ajax({
                                    url: '/Menu/CreateNode',
                                    type: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify(newNode),
                                    success: function (data) {
                                        var tree = $('#jstree').jstree(true);

                                        // Adiciona o nó na árvore e utiliza o callback para iniciar a edição
                                        var newNodeId = tree.create_node(parentId, {
                                            id: data.id, // Usa o ID retornado pelo servidor
                                            text: nodeName,
                                            state: { opened: true }
                                        }, "last", function (newNode) {
                                            // Seleciona e edita o nó recém-criado
                                            if (newNode) {
                                                tree.deselect_all();
                                                tree.select_node(newNode);
                                                tree.edit(newNode, null, function (node, status, canceled) {
                                                    if (!canceled && node.text !== nodeName) {
                                                        // Chama o controlador de renomeação após o nó ser renomeado pelo usuário
                                                        $.ajax({
                                                            url: '/Menu/RenameNode',
                                                            type: 'POST',
                                                            contentType: 'application/json',
                                                            data: JSON.stringify({ id: node.id, Name: node.text }),
                                                            success: function () {
                                                                console.log("Nó renomeado com sucesso.");
                                                            },
                                                            error: function () {
                                                                alert("Erro ao renomear o nó.");
                                                            }
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                    },
                                    error: function () {
                                        alert("Erro ao criar o nó.");
                                    }
                                });
                            }
                        },
                        "Rename": {
                            "label": "Renomea",
                            "action": function () {
                                tree.edit($node, null, function (node) {
                                    var updatedNode = { Id: node.id, Name: node.text };
                                    $.ajax({
                                        url: '/Menu/RenameNode',
                                        type: 'POST',
                                        contentType: 'application/json',
                                        data: JSON.stringify(updatedNode),
                                        success: function () {
                                            console.log("Nó renomeado com sucesso");
                                            $('#jstree').jstree(true).refresh();
                                        }
                                    });
                                });
                            }
                        },
                        "Delete": {
                            "label": "Excluir",
                            "action": function (obj) {
                                if (confirm("Tem certeza de que deseja excluir este item?")) {
                                    var nodeId = $node.id;
                                    console.log("ID do nó a ser excluído:", nodeId);
                                    $.ajax({
                                        url: '@Url.Action("DeleteNode", "Menu")',
                                        type: 'POST',
                                        data: { id: nodeId },
                                        success: function () {
                                            alert("Item excluido com sucesso.");
                                            $('#jstree').jstree(true).refresh();
                                        },
                                        error: function () {
                                            alert("Erro ao excluir o item.");
                                        }
                                    });
                                }
                            }
                        }
                    };
                }
            }
        });
    });
    $('#jstree').on("select_node.jstree", function (e, data) {
        // Obtenha o ID do nó selecionado
        var selectedNodeId = data.node.id;

        // Exiba um alert com o ID do nó
        alert("Você selecionou o nó com ID: " + selectedNodeId);

        // Aqui você pode adicionar outros comportamentos, como carregar conteúdo em uma div
    });

    $(function () {
        var tabCounter = 2;

        $("#tabs").tabs();



        // Função para fechar a tab ao clicar no ícone de fechar
        $("#tabs").on("click", "span.ui-icon-close", function () {
            var panelId = $(this).closest("li").remove().attr("aria-controls");
            $("#" + panelId).remove();

            // Atualiza os tabs
            $("#tabs").tabs("refresh");
        });
    });



   



    $(document).ready(function () {
        var tabCounter = 1;

        $("#add-tab").on("click", function () {
            console.log("teste");
            tabCounter++;

            var tabId = "tab-" + tabCounter;

            // Exemplo de requisição AJAX para carregar o conteúdo do banco
            $.ajax({
                url: '/Menu/LoadContent', // URL corrigida
                type: 'GET',
                data: { id: tabCounter }, // Passe parâmetros se necessário
                success: function (data) {
                    var tabContent = data; // Supondo que `data` seja o HTML retornado
                    console.log("#" + tabId);
                    console.log($("#" + tabId).length);

                    // Verifica se a aba já existe para evitar duplicação
                    if ($("#" + tabId).length === 0) {
                        // Adiciona a nova aba com o conteúdo carregado
                        $("<li><a href='#" + tabId + "'>Tab " + tabCounter + "</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>")
                            .appendTo("#tabs ul");

                        $("<div id='" + tabId + "'>" + tabContent + "</div>")
                            .appendTo("#tabs");

                        // Atualiza os tabs
                        $("#tabs").tabs("refresh");
                    } else {
                        // Caso a aba já exista, apenas exibe a aba
                        $("#tabs").tabs("option", "active", $("#" + tabId).index());
                    }

                    // Seleciona a nova aba
                    $("#tabs").tabs("option", "active", $("#" + tabId).index());
                },
                error: function () {
                    alert("Erro ao carregar o conteúdo.");
                }
            });

        });

        // Adiciona o evento para remover uma aba
        $("#tabs").on("click", "span.ui-icon-close", function () {
            var index = $(this).parent().index();
            $("#tabs").tabs("remove", index);
        });
    });


</script>

