html,body {
    font-size: 0.9rem;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.form-label {
    font-size: 0.85rem;
}

.form-control, .form-select, .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
    height: calc(1.5em + 0.5rem + 2px);
}

.section-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.form-section {
    margin-bottom: 1rem;
}

.container-fluid {
    width: 100%; /* Garante que o container ocupe 100% da largura da tela */
    padding: 0; /* Remove padding interno */
    margin: 0; /* Remove margem externa */
    /*background-color: blue;*/ /* Cor de fundo para visualizar o container */
   
    padding-top: 0;
    margin-top: 0;
    padding-top: 0;
}

#jstree-container {
    /*background-color: red;*/ /* Cor de fundo para visualizar a div */
    max-width: 100%; /* Garante que o conteúdo dentro da coluna ocupe todo o espaço permitido */
}

#tabb {

    max-width: 100%;
    min-height:300px;
}


#coluna-l {
    /*background-color: forestgreen;*/ /* Cor de fundo para visualizar a div */
    border: 1px;
    /*background-color: purple;*/
    max-height: 600px;
  
    padding: 0;
    margin-right: 1;
}

#coluna-r {
   
    /*background-color: #F5EFFB;*/ /* Cor de fundo para visualizar a div */
 
    padding: 1;
    margin: 1;
}
#dialog label, #dialog input {
    display: block;
}

#dialog label {
    margin-top: 0.5em;
}

#dialog input, #dialog textarea {
    width: 95%;
}

#tabs {
    
    min-height: 600px;
}

    #tabs li .ui-icon-close {
        float: left;
        margin: 0.4em 0.2em 0 0;
        cursor: pointer;
    }

#add_tab {
    cursor: pointer;
}
.sec{
    

    background-color:aliceblue;
}
.navbar {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}