@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model UserWithRolesViewModel

<h2>Edit Roles for @Model.UserName</h2>

<form asp-action="EditRoles" method="post">
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="SelectedRoles">Roles</label>
        <select asp-for="SelectedRoles" asp-items="Model.AvailableRoles" multiple="multiple" class="form-control">
        </select>
        <span asp-validation-for="SelectedRoles" class="text-danger"></span>
    </div>
   
    <button class="btn btn-primary" url="/Users/EditRoles" caminho="~/Views/Users/_IndexPartial.cshtml" idContent="@Model.UserId" id="saveContent">Salvar Conteúdo</button>


</form>
