@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<UserWithRolesViewModel>

<button url="/Identity/Account/Register" caminho="~/Areas/Identity/Pages/Account/Register.cshtml" idContent="1" id="insertbutton">Cadastrar Novo</button>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <button url="/Users/EditRoles" caminho="~/Views/Users/_EditRolesPartial.cshtml" idContent="@user.UserId" id="editContent">Editar Conteúdo</button>


                </td>
            </tr>
        }
    </tbody>
</table>
